* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        ". . . . . ."
        ". . picture buttons . ."
        ". . links links . ."
        ". . . . . . ";
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
}

nav:hover button {
    cursor: pointer;
}

#me {
    text-align: center;
    display: grid;
    grid-area: picture;
}

#buttons {
    display: flex;
    flex-direction: column;
    grid-area: buttons;
}

/* add pointer on hover to the child buttons */
#buttons:hover button {
    cursor: pointer;
}

#social {
    display: flex;
    border: 2px solid black;
    width: 400px;
    height: 30px;
    justify-content: space-evenly;
    text-align: center;
    grid-area: links;
    font-size: larger;
}

img {
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

/* Carousel */
#carousel {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#carousel-images {
    width: 50%;
    box-sizing: border-box;
}

#carousel-images img {
    width: 100%;
    display: none;
}

#carousel-images img:first-of-type {
    display: block;
}

#carousel-button {
    align-self: center;
    text-align: center;
}

#prev:hover, #next:hover {
    cursor: pointer;
}

#modal {
    position: fixed;
    top: 100px;
    left: 100px;
    height: 80%;
    width: 80%;
    z-index: -1;
}

.modal-button {
    cursor: pointer;
}

#modal-box {
    height: 300px;
    width: 500px;
    background-color: white;
}