* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point';
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 black;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-image: linear-gradient(to bottom right, #3e5151,#decba4);
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    cursor: pointer;
}

nav:hover button {
    cursor: pointer;
}

.name {
    margin-bottom: 10px;
    font-size: 40px;
    justify-content: center;
    text-align: center;
}

section {
    width: 50%;
    height: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "carousel aboutme";
}

/* #intro {
    display: grid;
    grid-template-areas: aboutme;
}

#carousel {
    display: grid;
    grid-template-areas: carousel;
} */

#grid {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    ". . . . . ."
    ". . picture buttons . ."
    ". . links links . ."
    ". . . . . . ";
}

#social {
    display: flex;
    width: 400px;
    height: 30px;
    justify-content: space-evenly;
    text-align: center;
    grid-area: links;
    font-size: larger;
    margin-top: 30px;
}

/* for smaller screens */
@media (max-width: 500px) {
    * {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin-top: 100px;
        position: absolute
    }
    #me {
        justify-content: center;
    }
    #grid {
        display: flex;
        flex-direction: column;
    }

    #social {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #social a {
        margin-bottom: 10px;
    }

    #buttons {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    nav {
        position: fixed;
        left: 1vh;
    }
}

#me {
    text-align: center;
    display: grid;
    grid-area: picture;
}

#buttons {
    display: flex;
    flex-direction: column;
    grid-area: buttons;
    margin-top: 50px;
}

#buttons a {
    margin-bottom: 20px;
}

/* add pointer on hover to the child buttons */
#buttons:hover button {
    cursor: pointer;
}

img {
    height: 200px;
    border-radius: 50%;
    border: 2px solid black
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "carousel carousel";
}

h2 {
    display: grid;
    grid-area: a;
}

.aboutMe {
    display: grid;
    grid-area: b;
}

/* Carousel */
#carousel {
    width: 400px;
    display: flex;
}

#carousel-images {
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
}

#carousel-images img {
    width: 100%;
    display: none;
}

#carousel-images img:first-of-type {
    display: block;
}

#carousel-button {
    align-self: center;
    text-align: center;
}

#prev:hover, #next:hover {
    cursor: pointer;
}

/* contact me modal */
#modal {
    position: fixed;
    top: 0;
    left: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.modal-button {
    cursor: pointer;
}

#modal-box {
    height: 600px;
    width: 400px;
    background-color: #3e5151;
    align-self: center;
    color: black;
}
/* font color */
button, input, textarea {
    color: black;
}

/* remove underline from <a> element */
a {
    text-decoration: none;
    text-shadow: 1px 1px 0 black;
}